@page "/Login"
@using Frontend.Auth
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager navMgr

<h3>This is where you login</h3>

<AuthorizeView>
    <NotAuthorized>
        <label> Username: </label>
        <input type="text" @bind="userName" />
        <br />
        <br />
        <label> Password: </label>
        <input type="password" @bind="password" />
        <br />
        @if (!string.IsNullOrEmpty(errorLabel))
        {
            <label style="color: red">
                @errorLabel
            </label>
        }
        <br />
        <br />
        <button @onclick="LoginAsync">Login</button>
    </NotAuthorized>
    <Authorized>
        <h3>Hello,  @context.User.Identity.Name</h3>
    </Authorized>
</AuthorizeView>

@code {
    private string userName;
    private string password;
    private string errorLabel;

    private async Task LoginAsync()
    {
        errorLabel="";
        try
        {
            await ((SimpleAuthProvider)AuthProvider).Login(userName, password);
            navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error:{e.Message}";
        }
    }

}